<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
      
<configuration>  
    <!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径  -->  
    <typeAliases>    
         <typeAlias type="com.sample02.model.Users" alias="Users"/> 
    </typeAliases>   
      
    <environments default="development">  
        <environment id="development">  
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">  
                <property name="driver" value="com.mysql.jdbc.Driver " />  
                <property name="url" value="jdbc:sqlserver://localhost:3306/membershipms" />  
                <property name="username" value="root" /> 
                <property name="password" value="7f3a9t0z" />  
            </dataSource>  
        </environment>  
    </environments>  
  
    <mappers>  
        <mapper resource="com/sample02/mapper/UserMapper.xml" />  
    </mappers>  
  
</configuration> 